.App{
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.products-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  height: 250px;
  width: 250px;
  margin: 10px; 
}

.product-img{
  height: 200px;
  width: 200px;
}

.pagination{
  padding:4px;
  margin: 5px;
}

.active{
  background-color: #510276;
  color: white;
}

.prev-page{
  padding:7px;
}

.next-page{
  padding: 7px;
}