.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.about-title{
    position: relative;
}

.about-left img{
    padding-top: 5px;
}

.about-title h1{
    padding: 0px 30px;
    font-size: 75px;
    font-weight: 600;
}

.about-title img{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.about-section{
    display: flex;
    gap: 80px;
}

.about-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-para{
    display: flex;
    flex-direction: column;
    font-size: 21px;
    font-weight: 500;
    gap: 15px;
}

.about-details{
    display: flex;
    justify-content: space-between;
}

.about-info{
    font-size: 20px;
    width: 45%;
    margin-bottom: 20px;
}

.about-info h2{
    background: linear-gradient(180deg, #DF8909 5%, #B415FF 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-info p {
    padding: 3px;
    padding-bottom: 10px;
    border-bottom: 1px dashed white;
    margin-bottom: 10px;
}

.about-education{
    font-size: 20px;
    width: 45%;
    margin-bottom: 20px;
    line-height: 37px;
}

.about-education h2{
    margin-bottom: 5px;
    background: linear-gradient(180deg, #DF8909 5%, #B415FF 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-education p {
    padding: 3px;
    padding-bottom: 10px;
    border-bottom: 1px dashed white;
    margin-bottom: 10px;
}

@media(max-width:768px){
    .about{
        width: 190%;
        height: 1000px;
        gap: 80px;
        margin: 50px 50px;
        align-items: start;
    }

    .about-title h1{
        font-size: 60px;
        padding: 0;
    }

    .about-title img{
        width: 130px;
        right: -15px;
    }

    .about-section{
        display: flex;
        flex-direction: column;
    }

    .about-left{
        display: none;
    }

    .about-para{
        font-size: 20px;
        line-height: 34px;
    }

    .about-details{
        display: flex;
        margin-top: 20px;
        gap: 50px;
    }

    .about-info{
    font-size: 22px;
    width: 50%;
    line-height: 26px;
    }

    .about-info h2{
        margin-bottom: 20px;
    }

    .about-education h2{
        margin-bottom: 20px;
    }

    .about-education{
        font-size: 22px;
        width: 50%;
        line-height: 32px;
    }

    .about-education h3{
        font-size: 22px;   
    }

}
